<h1>Welcome to your workspace</h1>
<h3>Accounts</h3>
<ul>
	<li><a href="/phpmyadmin">phpmyadmin</a></li>
	<li>Mysql account user: root password: root</li>
</ul>
<h3>Everyday Workflow</h3>
<ul>
	<li>Gising</li>
	<li>Kain</li>
	<li>Ligo</li>
	<li>Bukas Laptop</li>
	<li>bukas terminal or command line</li>
	<li><code>cd ~/workspace or ung folder niyo</code></li>
	<li><code>vagrant up --provision</code></li>
	<li><code>vagrant ssh</code> para mapunta kayo sa virtual machine command line</li>
	<li>Code ng magandaganda</li>
	<li><code>vagrant suspend</code> para maclose ung virtual machine</li>
	<li>Uwi</li>
</ul>

<h3>Add new site or project</h3>
<ul>
	<li>
	Open niyo lang ung Hosts.yaml
	</li>
	<li>
		Edit niyo
		<code><br/>
&nbsp;hosts:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;- domain: site.dev<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public: web<br/>
&nbsp;&nbsp;&nbsp;&nbsp;- domain: newsite.dev<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public: web<br/>
&nbsp;&nbsp;&nbsp;&nbsp;- domain: iconcept.dev<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public: web<br/>
		</code>
	</li>
	<li>
		open terminal path sa workspace then run <code>vagrant provision</code>
	</li>
</ul>